# Python
__pycache__/
*.pyc

# IDE
.vscode/

# Logs and Data
*.log
data/
*.db

# Docker
.DS_Store

# Simulation data
docker/pv_simulator_data/
docker/pv_collector_data/
*.bak
test_modbus.py
*.docx
*.html

